[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
yapf = "*"
ipython = "*"
pylint = "*"

[requires]
python_version = "3.7"
